
@{
    ViewBag.Title = "FeatureView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    tbody > tr > :nth-child(7), tbody > tr > :nth-child(3) {
        text-align: left;
    }

    tbody > tr > :nth-child(5), tbody > tr > :nth-child(6) {
        text-align: right;
    }
</style>

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Feature Product</li>

    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Feature Product
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table id="featurepro" class="display table table-bordered table-hover">
                    <thead>
                        <tr>

                            <th style="width:5%"> ID</th>
                            <th style="width:10%">Image</th>
                            <th style="width:60%; text-align:left"> Name</th>

                            <th style="width:15%; text-align:right">Action</th>



                        </tr>

                    </thead>


                </table>

            </div>




            <hr />
            <h2>Product List </h2>
            <hr />

            <div class="table-responsive">
                <table id="ProTable" class="display table table-bordered table-hover">
                    <thead>
                        <tr>

                            <th style="width:5%"> ID</th>
                            <th style="width:10%">Image</th>
                            <th style="width:25%; text-align:left"> Name</th>
                            <th style="width:10%"> Category</th>
                            <th style="width:5%"> Price</th>
                            <th style="width:5%;text-align:right ">Stock</th>
                            <th style="width:35%; text-align:left">Description </th>
                            <th style="width:5%; text-align:right">Action</th>



                        </tr>




                    </thead>





                </table>

            </div>


            <!--Insert Model pop Up -->
            <!-- Modal -->
            <!--onsubmit = "return SubmitForm(this)",-->
            <!-- end Insert Model pop Up -->









        </div>



    </div>

</div>


@section scripts{
    <script src="~/AdminStyle/vendor/jquery-editable-select.js"></script>
    <script>

        var Popup, DataTable;

        $(document).ready(function () {

            DataTable = $("#ProTable").DataTable({
                "ajax": {
                    "url": "/Admin/Getfproductdata",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns":[
                    { "data": "pid" },
                    {
                        "data": "picone", render: function (data) {
                            return "<img src =" + data + " height='100px' width='100px '/>"
                        }
                    },
                    { "data": "pname" },
                    { "data": "catname" },
                    { "data": "price" },
                    { "data": "stock" },
                    { "data": "pdes" },
                    {
                        "data": "pid", render: function (data) {
                            return "<a class='btn btn-info btn-small' style='color:#fff' onclick = 'popupForm(this," + data + ")'> <i class='fa fa-plus mr-1'></i> Add to Feature</a>"
                        }, "orderable":false
                    }
                ]
            });


            DataTable = $("#featurepro").DataTable({
                "ajax": {
                    "url": "/Admin/Getdatafeature",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "pid" },
                    {
                        "data": "picone", render: function (data) {
                            return "<img src="+ data +" height = '100px' width='100px' />"
                        }
                    },
                    { "data": "pname" },
                    {
                        "data": "pid", render: function (data) {
                            return "<a class='btn btn-info btn-small' style='color:#fff' onclick = 'popdel(this," + data + ")'><i class='fa fa-times mr-1'></i> Remove Feature </a> "

                        }, "orderable": false
                    },
                ]
            });
        })


        function popdel(e) {

            var currentrow = $(e).closest("tr");
            var pid = currentrow.find("td:eq(0)").html();

            $.ajax({

                type: "POST",
                url: "/Admin/removefeature",
                data: { Proid: pid },
                success: function (data) {
                    if (data.success) {

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        });

                        DataTable.ajax.reload();
                        $(e).closest("tr").remove().draw();
                    }
                }
                
            });

            return false;
        }


        function popupForm(e) {
            
            var currentrow = $(e).closest("tr");
            var pid = currentrow.find("td:eq(0)").html();

            $.ajax({

                type: "POST",
                url: "/Admin/Addfeature",
                data: { Proid: pid },
                success: function (data) {
                    if (data.success) {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                            
                        });
                        DataTable.ajax.reload();
                        $(e).closest("tr").remove().draw();
                    }
                }

            });

            return false;
        }


    </script>
    
    }