@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .error {
        color: red;
    }

    input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }


    hr {
        border: 1px solid lightgrey;
    }


    @@media(max-width: 800px) {
        .row {
            flex-direction: column-reverse;
        }

        .col-md-4 {
            margin-bottom: 20px;
        }
    }

    @@media(max-width:1000px) {
        .row {
            flex-direction: column-reverse;
        }

        .col-md-4 {
            margin-bottom: 20px;
        }
    }
</style>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Billing address</h3>
                    </div>
                    @using (Html.BeginForm("ProcessOrder", "Order", FormMethod.Post, new { id = "customer-form", onsubmit = "return SubmitForm(this)" }))
                    {
                        <div class="row">
                            <div class="col-md-12 mb-top ">

                                <input type="text" id="email" name="EmailAddress" placeholder="Email Address..">

                                <input type="text" id="name" name="CustomerName" placeholder="Your Name..">

                                <input type="text" id="number" name="CustomerPhone" placeholder="Phone Number..">

                                <input type="text" id="adr" name="CustomerAddress" placeholder="Address..">

                                <input type="text" id="city" name="CustomerCity" placeholder="City..">

                            </div>
                        </div>

                        <button type="submit" class="primary-btn order-submit">Place order</button>
                    }
                </div>
                <!-- /Billing Details -->
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Your Order</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUCT</strong></div>
                        <div><strong>TOTAL</strong></div>
                    </div>
                    <div class="order-products" id="order">


                    </div>

                    <div class="order-col">
                        <div>Shiping</div>
                        <div><strong>FREE</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>TOTAL</strong></div>
                        <div><strong class="order-total" id="total"></strong></div>
                    </div>
                </div>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

@section scripts{


    <script>

    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("orderCart", "Shop")',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (data) {
                let total=0;
                $(data).each(function () {
                    total +=parseFloat(this.Bill);
                //    alert(this.Bill + "");
                    $("#order").append("<div class='order-col'><div><span style='font-weight:500;'>" + this.Qty + " X " + this.pname + "</span></div><div><span style='font-weight:800;'> " + this.price * this.Qty + " </span></div></div>");

                    $("#total").html("Rs "+ total + "");
                });
            },
            error:function(data){
                console.log("error");
            }
        });

        $("#customer-form").validate({

            rules: {
                CustomerName: {
                    required: true
                },
                CustomerPhone: {
                    required: true
                },
                CustomerAddress: {
                    required: true
                },
                CustomerCity: {
                    required: true
                },
                EmailAddress: {
                    required: true
                }
            }

        });

        function SubmitForm(form) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {

                        $('#name').val("");
                        $('#number').val("");
                        $("#adr").val("");
                        $("#city").val("");
                        $("#email").val("");

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        });
                    }
                }

            });

            return false;

        }


    });

    </script>

}

