
@{
    ViewBag.Title = "Product Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Product Details</h3>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->


<div class="section">

    <div class="container">

        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-xs-4">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="" id="img1" alt="" />
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product details -->
            <div class="col-md-7 col-xs-5">
                <div class="product-details">

                    <h2 class="product-name" id="pname"></h2>
                    <div>
                        <h3 class="product-price" id="price"></h3>
                    </div>
                    <div id="desc"></div>
                   <br />

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number" id="txtqty" value="1">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <br />

                       <a class="btn add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>

                    </div>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

            </div>
            <!-- /Product details -->
            

            <!-- Product tab -->
            <div class="col-md-11">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab3">Images</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="desc1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <img id="img2" src="" alt="" />
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>

    </div>

</div>


@section scripts{


    <script>

        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("viewdetail", "Shop")",
                type: "GET",
                data: {proid: @ViewBag.pid},
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function(data){
                    $(data).each(function(){

                        $("#pid").html(this.pid);
                        $("#pname").html(this.pname);
                        $("#price").html(this.price);
                        $("#img1").attr("src", this.picone);
                        $("#desc").html(this.pdes);
                        $("#desc1").html(this.pdes);
                        $("#desc2").html(this.pdes);
                        $("#img2").attr("src", this.pictwo);

                    });
                },
                error: function(data){ }

            });

        });

        $(".add-to-cart-btn").click(function(){

            var pid= @ViewBag.pid;
            var qty = $("#txtqty").val();

            $.ajax({
                type: 'POST',
                data:{proid: pid, qty:qty },
                url:'@Url.Action("AddtoCart", "Shop")',
                success: function(data){
                    if (data.success) {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        });
                    }
                },
                error: function(data){
                    alert("Please log in to add products in your cart.");
                    console.log("fail");
                }
            });
        });

</script>

}

